* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

ul {
    list-style-type: none;
}

hr {
    opacity: .4;
}

a {
    text-decoration: none;
}

/*top*/
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text {
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navigation {
    padding: 30px 0 20px;
}

.navigation-link {
    transition: all .5s ease;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.navigation-link__icon__index {
    fill: white; stroke: #316099;
    stroke-width: 2;
}
.navigation-link__icon__index ellipse {
    fill: #316099;
    transition: all .5s ease;
}

.navigation-link:hover .navigation-link__icon__index ellipse {
    fill: white;
    transition: all .5s ease;
}

.navigation-link:hover .navigation-link__icon__index path {
    fill: #316099;

}

.navigation-link__icon__contacts {
    fill: #316099;
    transition: all .5s ease;
}

.navigation-link:hover .navigation-link__icon__contacts {
    fill: #5A98D0;
}

.top__info {
    padding-top: 107px;
    padding-bottom: 150px;
    flex-grow: 1;
    background-image: url("../images/top-bg.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45%;
}

.top__info__heading {
    max-width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.top__info__text {
    width: 425px;
}

.top__info__button {
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;

    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;

    transition: background-color, color .5s ease;
}

.top__info__button:hover {
    background: #3b80c6;
    color: #1F3F68;
}


/*what-we-do*/
.what-we-do {
    margin-top: 64px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.card:nth-child(2) {
    padding-top: 0;
}

.card__heading {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    transition: color .5s ease;
}

.card__link {
    background: url("../images/arrow.svg") no-repeat;
    background-position: 100px center;
}

.card__link:hover {
    color: #1F3F68;
}


/*project*/
.project__text {
    color: #222222;
    width: 65%;
    margin: 32px auto 64px;
    text-align: center;
    opacity: 1;
}

.project__parent {
    display: flex;
    margin-top: 32px;
}

.project__parent .project__item:first-child {
    margin-right: 32px;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__img {
    width: 100%;
}

.project__item__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__parent__item__text {
    font-size: 28px;
    text-align: left;
    top: 32px;
    left: 32px;
    right: auto;
}


/*footer*/
.footer {
    margin-top: 112px;
    padding: 91px 0 64px;
    background: #316099;
}

.footer__top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrap {
    max-width: 495px;
}

.footer__top__heading {
    max-width: 340px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 32px;
}

.footer__top__text {
    color: #FFFFFF;
}

.footer__top__button {
    text-decoration: none;
    background: #5A98D0;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    transition: background-color, color .5s ease;
}

.footer__top__button:hover {
    background: #3b80c6;
    color: #1F3F68;
}


.footer__bottom__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer__bottom__info__list {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style-type: none;
    flex-grow: 1;
    flex-basis: calc(100% / 3);
    margin-right: 32px;
    display: flex;
}

.footer__bottom__info__list:first-child::before {
    content: 'A. ';
    display: block;
    margin-right: 20px;
}

.footer__bottom__info__list:nth-child(2)::before {
    content: 'T. ';
    display: block;
    margin-right: 20px;
}


.footer__bottom__info__list:last-child::before {
    content: 'E. ';
    display: block;
    margin-right: 20px;
}

.footer__copy {
    margin-top: 64px;
}

.footer__copy__text {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}


/*contacts*/
/*top*/
.top__contacts {
    min-height: 420px;
}

.contacts__info {
    background-image: url(../images/contact-top-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 250px;
}

.contacts__info__heading {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 50px;
}

.contacts__info__text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    max-width: 780px;
    margin: 0 auto;
}

.contacts__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.contacts__body__info {
    max-width: 300px;
}

.contacts__body__img {
    margin-bottom: 16px;
}

.contacts__body__heading {
    margin-top: 40px;
    margin-bottom: 24px;
}

.contacts__body__text {
    font-weight: 300;
}

.contacts__pad {
    padding-left: 40px;
    margin-bottom: 16px;
    transition: color, opacity .5s ease;
}

.contacts__pad:hover {
    color: #1F3F68;
    opacity: 1;
}

.contacts__pad a:hover {
    color: #1F3F68;
    opacity: 1;
}

.contacts__pad:last-child {
    margin-bottom: 0;
}

.contacts__tel {
    background: url(../images/tel-ico.svg) no-repeat;
}

.contacts__site {
    background: url(../images/site-ico.svg) no-repeat;
}

.contacts__mail {
    background: url(../images/email-ico.svg) no-repeat;
}


.form {
    width: 540px;
}

fieldset {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;
    border: none;
}

.form__input {
    margin-bottom: 32px;
}

.form__input__top {
    margin-top: 48px;
}

.form__text {
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.form__input_textarea {
    opacity: 0.4;
    border: 1px solid #356EAD;
    border-radius: 10px;
    width: 428px;
    padding: 21px 0 21px 36px;
    font-size: 22px;
}

.form__input_textarea::placeholder {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
}

.form__button {
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

    padding: 23px 183px;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    margin-top: 40px;

    transition: background-color, color .5s ease;
}

.form__button:hover {
    background: #3b80c6;
    color: #1F3F68;
}

.maps {
    margin-top: 46px;
    width: 100%;
}


@media (max-width: 1024px) {
    .container {
        padding: 0 32px;
    }

    .navigation {
        padding-top: 15px;
    }

    .top__info {
        background-position: right 280px;
        padding-bottom: 190px;
    }

    .card-wrap {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .footer {
        padding-top: 47px;
    }

    .footer__top {
        padding: 0 90px 64px;
    }

    .footer__wrap {
        max-width: 336px;
    }

    .footer__top__button {
        padding: 4px 30px;
    }

    .footer__bottom {
        padding: 0 90px;
    }

    .footer__bottom__info {
        flex-direction: column;
    }

    .footer__bottom__info__list {
        margin-bottom: 24px;
    }

    .footer__bottom__info__list:last-child {
        margin-bottom: 0;
    }

    .footer__bottom__info__list:nth-child(n)::before {
        margin-right: 36px;
    }

    .top__contacts {
        min-height: 426px;
    }

    .contacts__info {
        background-size: cover;
    }

    .contacts__info__text {
        max-width: 520px;
    }

    .contacts__body {
        flex-direction: column;
        margin-bottom: 64px;
    }

    .contacts__body__info {
        margin-bottom: 64px;
    }

    .map {
        padding: 0;
    }

    .maps {
        margin-top: 16px;
    }

    .footer {
        margin-top: 64px;
    }
}

@media (max-width: 667px) {
    .container {
        padding: 0 16px;
    }

    .navigation {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
    }

    .top__info {
        padding-top: 36px;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__info__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 12px;
    }

    .top__info__text {
        width: 100%;
        text-align: center;
    }

    .top__info__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        margin-top: 48px;
    }

    .card-wrap {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .project__text {
        width: 100%;
    }

    .project__item__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project__parent .project__item:first-child {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .project__parent__item__text {
        font-size: 16px;
        line-height: 19px;
        left: 16px;
    }

    .footer {
        margin-top: 32px;
        padding: 0;
    }

    .footer__top {
        flex-direction: column;
        padding: 18px 0 41px;
    }

    .footer__wrap {
        max-width: 100%;
    }

    .footer__top__heading {
        text-align: center;
        max-width: 75%;
        margin: 0 auto;
    }

    .footer__top__text {
        text-align: center;
        margin-top: 32px;
    }

    .footer__top__button {
        margin-top: 40px;
    }

    .footer__bottom {
        padding: 0 0 32px;
    }

    .footer__bottom__info {
        margin-top: 32px;
    }

    .footer__bottom__info__list {
        margin-bottom: 18px;
    }

    .footer__bottom__info__list:nth-child(n)::before {
        margin-right: 23px;
    }

    .footer__bottom__info__list:first-child {
        line-height: 19px;
    }

    .footer__copy {
        margin-top: 36px;
    }

    .footer__copy__text {
        text-align: center;
    }

    .top__contacts {
        min-height: 418px;
    }

    .contacts__body {
        margin-bottom: 32px;
    }

    .contacts__info {
        padding: 0 18px;
    }

    .contacts__info__heading {
        font-size: 24px;
        line-height: 28px;
    }

    .contacts__info__text {
        font-size: 16px;
        padding-top: 32px;
    }

    .contacts__body__info {
        margin-bottom: 32px;
    }

    .contacts__body__heading {
        margin-top: 32px;
    }

    .contacts__body__form {
        max-width: 342px;
    }

    .form {
        width: 100%;
    }

    fieldset {
        padding: 36px;
    }

    .card__heading {
        font-size: 16px;
    }

    .form__text {
        font-size: 14px;
    }

    .form__input_textarea {
        width: 270px;
        padding: 13px 0 13px 26px;
    }

    .form__input_textarea::placeholder {
        font-size: 16px;
    }

    .form__button {
        padding: 16px 56px;
        margin-top: 12px;
    }

}



